body {
    margin: 0;
    padding: 0;
    background-color: #ecf1f7;
}

.top-header {
    width: 100%;
    background: #3e4652;
    color: white;
    padding: 25px 0px 25px 0px;
    height: 100px;
    text-align: center;
    margin: auto;
}

.top-header-text {}

.left-panel {
    margin-left: -20px;
    margin-top: 30px;
    position: fixed;
}

.toggle-button {
    width: 140px;
    padding: 20px 15px 8px 20px;
    color: #fff;
    background: #3e4652;
    border-radius: 0 100px 100px 0;
    z-index: -1;
    overflow: hidden;
}

.toggle-button h4 {
    font-size: 13px;
    line-height: 1px;
}

.formfields-panel,
.properties-section {
    overflow: hidden;
    background: #3e4652;
    color: #fff;
    width: 0px;
}

.formfields-header {}

.formfields-panel h3,
.properties-header h3 {
    font-size: 18px!important;
    line-height: 18px!important;
    margin: 0!important;
    padding: 10px 20px 10px 20px;
    font-weight: 300;
}

.close-button {
    float: right;
}

.field-section {
    height: 100%;
    overflow-y: auto;
}

.field-section-list {
    background-color: #545f6f;
}

.field-section li,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.field-item {
    border-bottom: 1px solid #647081;
}

.field-icon {
    background-color: #3e4652;
    display: inline-block;
    padding: 10px 0px 10px 0px;
    width: 20%;
    text-align: center;
}

.field-name {
    position: relative;
    display: inline-block;
    font-size: 15px;
    padding-left: 50px;
    width: 70%;
}

.field-section ul li:hover {
    background-color: #0293e2;
    cursor: move;
}

.empty-placeholder {
    cursor: default !important;
}

.form-container {
    margin-top: 65px;
    background-color: rgb(255, 255, 255);
    width: 100%;
    padding: 20px;
}

.form-container ul {
    min-height: 64px;
}

.form-container ul li {
    margin-top: 10px;
}

.form-container input {
    background-color: #fff;
}

.placeholder-inner-content,
.header,
.email,
.phone,
.address,
.fullname {
    padding: 45px 20px;
    line-height: 36px;
    color: rgba(0, 0, 0, .3);
    border-color: rgba(0, 0, 0, .15);
    background-color: rgba(0, 0, 0, .03);
    border-radius: 10px;
}

.properties-section {
    position: fixed;
    margin-top: 65px;
    overflow: auto;
    height: 400px;
}

.properties-header {
    position: sticky;
}


/* Styles for omponents starts from here */

#properties-container ul,
li {
    list-style: none;
    margin: 0;
    background-color: #545f6f;
    color: white;
    border-bottom: 1px solid #3e4652;
    padding: 10px 50px 10px 20px;
}

#properties-container ul,
li input {
    background: #3e4652;
    border: 1px solid #545f6f;
    color: white;
    height: 40px;
    padding-right: 20px;
}

#properties-container ul,
li h3 {
    font-size: 15px;
    padding: 5px;
}

#properties-container ul,
li button {
    display: inline-block;
    background-color: #647081;
    text-transform: uppercase;
    color: #fff;
    border: none;
    padding: 5px 10px 5px 10px;
}

#properties-container ul,
li button:focus {
    background-color: #0293e2;
    border: none;
}

#properties-container ul,
li #default {
    background-color: #0293e2;
}